<section class="uk-margin-medium-top uk-margin-large-bottom">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <div class="uk-child-width-1-2@l uk-child-width-1-1@s uk-grid-large uk-grid-match" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body idz-resources-card">
                            <div class="uk-grid-small uk-flex-top uk-align-center" data-uk-grid>
                                <h6 class="uk-text-uppercase uk-text-muted uk-text-center uk-margin-small-bottom">Total AUM</h6>
                                <h1 class="uk-text-center">30 Crores</h1>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body idz-resources-card">
                            <div class="uk-grid-small uk-flex-top uk-align-center" data-uk-grid>
                                <h6 class="uk-text-uppercase uk-text-muted uk-text-center uk-margin-small-bottom">Investor Count</h6>
                                <h1 class="uk-text-center">30K +</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>