<section class="uk-margin-large-bottom">
    <div class="uk-container uk-container-expand uk-background-default">
        <div class="uk-grid uk-margin-medium-top uk-margin-medium-bottom">
            <div class="uk-width-1-1">
                <div class="uk-margin-medium-top uk-margin-medium-bottom">
                    <hr> </div>
                <div class="uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-medium uk-grid-match" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top"> <img src="images/content/team1.jpg" alt="" /> </div>
                            <div class="uk-card-body uk-card-small uk-text-center">
                                <h5 class="uk-text-uppercase uk-margin-remove-bottom">Aseem Madan</h5>
                                <p class="uk-text-uppercase uk-margin-small-top uk-margin-small-bottom">Investments</p>
                                <p class="uk-margin-small-top uk-margin-small-bottom">9 years experienced</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top"> <img src="images/content/team2.jpg" alt="" /> </div>
                            <div class="uk-card-body uk-card-small uk-text-center">
                                <h5 class="uk-text-uppercase uk-margin-remove-bottom">Amey V Chalke</h5>
                                <p class="uk-text-uppercase uk-margin-small-top uk-margin-small-bottom">Investments</p>
                                <p class="uk-margin-small-top uk-margin-small-bottom">10 years experienced</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top"> <img src="images/content/team2.jpg" alt="" /> </div>
                            <div class="uk-card-body uk-card-small uk-text-center">
                                <h5 class="uk-text-uppercase uk-margin-remove-bottom">Premal Kamdar</h5>
                                <p class="uk-text-uppercase uk-margin-small-top uk-margin-small-bottom">Investments</p>
                                <p class="uk-margin-small-top uk-margin-small-bottom">11 years experienced</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top"> <img src="images/content/team2.jpg" alt="" /> </div>
                            <div class="uk-card-body uk-card-small uk-text-center">
                                <h5 class="uk-text-uppercase uk-margin-remove-bottom">Sachin Maniar</h5>
                                <p class="uk-text-uppercase uk-margin-small-top uk-margin-small-bottom">Investments</p>
                                <p class="uk-margin-small-top uk-margin-small-bottom">16 years experienced</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top"> <img src="images/content/team2.jpg" alt="" /> </div>
                            <div class="uk-card-body uk-card-small uk-text-center">
                                <h5 class="uk-text-uppercase uk-margin-remove-bottom">Basant Joshi</h5>
                                <p class="uk-text-uppercase uk-margin-small-top uk-margin-small-bottom">Investments</p>
                                <p class="uk-margin-small-top uk-margin-small-bottom">6 years experienced</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top"> <img src="images/content/team2.jpg" alt="" /> </div>
                            <div class="uk-card-body uk-card-small uk-text-center">
                                <h5 class="uk-text-uppercase uk-margin-remove-bottom">Divyesh Mehta</h5>
                                <p class="uk-text-uppercase uk-margin-small-top uk-margin-small-bottom">Investments</p>
                                <p class="uk-margin-small-top uk-margin-small-bottom">5 years experienced</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top"> <img src="images/content/team2.jpg" alt="" /> </div>
                            <div class="uk-card-body uk-card-small uk-text-center">
                                <h5 class="uk-text-uppercase uk-margin-remove-bottom">Suraj Chheda</h5>
                                <p class="uk-text-uppercase uk-margin-small-top uk-margin-small-bottom">Investments</p>
                                <p class="uk-margin-small-top uk-margin-small-bottom">8 years experienced</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top"> <img src="images/content/team2.jpg" alt="" /> </div>
                            <div class="uk-card-body uk-card-small uk-text-center">
                                <h5 class="uk-text-uppercase uk-margin-remove-bottom">Vishtaspa N. Rana</h5>
                                <p class="uk-text-uppercase uk-margin-small-top uk-margin-small-bottom">Investments</p>
                                <p class="uk-margin-small-top uk-margin-small-bottom">18 years experienced</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top"> <img src="images/content/team2.jpg" alt="" /> </div>
                            <div class="uk-card-body uk-card-small uk-text-center">
                                <h5 class="uk-text-uppercase uk-margin-remove-bottom">Yogesh Agarwal</h5>
                                <p class="uk-text-uppercase uk-margin-small-top uk-margin-small-bottom">Operations</p>
                                <p class="uk-margin-small-top uk-margin-small-bottom">5 years experienced</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top"> <img src="images/content/team2.jpg" alt="" /> </div>
                            <div class="uk-card-body uk-card-small uk-text-center">
                                <h5 class="uk-text-uppercase uk-margin-remove-bottom">Mohit Jain</h5>
                                <p class="uk-text-uppercase uk-margin-small-top uk-margin-small-bottom">Operations</p>
                                <p class="uk-margin-small-top uk-margin-small-bottom"></p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top"> <img src="images/content/team2.jpg" alt="" /> </div>
                            <div class="uk-card-body uk-card-small uk-text-center">
                                <h5 class="uk-text-uppercase uk-margin-remove-bottom">Dhwani Vaghela</h5>
                                <p class="uk-text-uppercase uk-margin-small-top uk-margin-small-bottom">Client services</p>
                                <p class="uk-margin-small-top uk-margin-small-bottom">11 years experienced</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top"> <img src="images/content/team2.jpg" alt="" /> </div>
                            <div class="uk-card-body uk-card-small uk-text-center">
                                <h5 class="uk-text-uppercase uk-margin-remove-bottom">Ketki Barot</h5>
                                <p class="uk-text-uppercase uk-margin-small-top uk-margin-small-bottom">Client services</p>
                                <p class="uk-margin-small-top uk-margin-small-bottom">14 years experienced</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top"> <img src="images/content/team2.jpg" alt="" /> </div>
                            <div class="uk-card-body uk-card-small uk-text-center">
                                <h5 class="uk-text-uppercase uk-margin-remove-bottom">Vibha Bhaskar</h5>
                                <p class="uk-text-uppercase uk-margin-small-top uk-margin-small-bottom">Company secretary</p>
                                <p class="uk-margin-small-top uk-margin-small-bottom"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>